<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h3>Haberler</h3>

      <select class="form-control" [(ngModel)]="katId" (ngModelChange)="KatSec($event)">
        <option [value]="kat.id" *ngFor="let kat of kategoriler">{{kat.adi}}</option>
      </select>

      <button class="btn btn-outline-primary" (click)="Ekle(modalEkleDuzenle)"
        [disabled]="servis.aktifUye.admin==0">Haberi Ekle</button>
      <p *ngIf="katId!=0">
        Seçili Kategori : <b>{{secKat.adi}}</b>
      </p>
      <table class="table table-hover mt-3">
        <thead>
          <th>Id</th>
          <th>Haber Başlığı</th>
          <th>Yayınlama Tarihi</th>
          <th>Düzenleme Tarihi</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let hab of Haberler">
            <td>{{hab.id}}</td>
            <td>{{hab.basligi}}</td>
            <td>{{hab.yaytarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{hab.duztarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-outline-warning" (click)="Duzenle(hab,modalEkleDuzenle)"
                [disabled]="servis.aktifUye.admin==0">Düzenle</button></td>
            <td><button class="btn btn-outline-danger" (click)="Sil(hab,modalSil)"
                [disabled]="servis.aktifUye.admin==0">Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngsubmit)="HaberlerEkleDuzenle()" >
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Haber Adı</label>
            <input type="text" class="form-control" formControlName="basligi">
            <label>Kategori</label>
            <select class="form-control" formControlName="categoryId">
              <option [value]="kat.id" *ngFor="let kat of kategoriler">{{kat.adi}}</option>
            </select>
            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" class="form-control" formControlName="yaytarih">
            <input type="hidden" class="form-control" formControlName="duztarih">

          </div>

        </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secHab">{{secHab.basligi}} adlı Haber Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secHab" (click)="HaberiSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>
